# IntelliJ project files
*.class
*.log
*.lock

*.jar
*.war
*.ear
target/

.idea/
*.iml

*velocity.log*

.apt_generated
.factorypath
.springBeans

*.ipr
*.iws
.idea
.classpath
.project
.settings/
bin/

tmp/

*rebel.xml*
